In [12]:
import pandas as pd

In [34]:
class FinancialDataAnalysis():

    def __init__(self):
        self.get_data()
            
    def get_data(self):
        ''' read and retrieves the data from the excel file
        '''
        
        rawData = pd.read_excel("SP500.xls", parse_dates= ["Date"], index_col = "Date").Close.to_frame()
        rawData.rename(columns = {"Close":"price"}, inplace = True)
        self.data = rawData 
        return self.data

In [32]:
stock = FinancialDataAnalysis()

In [33]:
stock.get_data()

                  price
Date
1970-12-31    92.150002
1971-01-04    91.150002
1971-01-05    91.800003
1971-01-06    92.349998
1971-01-07    92.379997
...                 ...
2018-12-21  2416.620117
2018-12-24  2351.100098
2018-12-26  2467.699951
2018-12-27  2488.830078
2018-12-28  2485.739990

[12107 rows x 1 columns]